<div class="row">
    <div class=" col-3" *ngFor="let planet of planets;">
        <div class="card col-12 plaetcard">
            <div class="card-content">
                <div class="preplanets">
                    <img src="{{ planet.image }}"/>
                </div>
                <h5 class="col-12 title-h5">{{ planet.name }}</h5>
                <p class="col-12">
                    {{ planet.resume }}
                </p>
                <a href="/planet-detail/{{planet.id}}" class="btn btn-warning col-12">
                    See details
                </a>
            </div>
        </div>
    </div>
</div>
