body{
    margin:0px;
    padding:0px;
    height: 100vh;
    width: 100vw;
    background: #3f3f3f url(./assets/img/sky.jpeg) top center no-repeat fixed;
    background-size: cover;
    color: #cacaca;
}
@font-face {
    font-family: jedi;
    src: url(../src/assets/fonts/star_jedi/starjedi/Starjedi.ttf);
}
@font-face {
    font-family: jedi1;
    src: url(../src/assets/fonts/star_jedi/starjout/Starjout.ttf);
}
.title-h1{
    font-family: jedi1;
    text-align: center;
    font-size: 62px;
}
.title-h5{
    font-family: jedi;
    text-align: center;
}
.container{
    max-width:none;
    width: 100%;
}
.plaetcard{
    background: rgb(63, 63, 63, 0.5);
}
.plaetcard img{
    border-radius: 50%;
}
.plaetcard:hover img{
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
    padding: 0px !important;
    transition: .5s;
}
@-moz-keyframes spin { 
    100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes spin { 
    100% { -webkit-transform: rotate(360deg); } 
}
@keyframes spin { 
    100% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    } 
}

.plaetcard .btn{
    font-family: jedi;
}
.plaetcard p{
    height: 100px;
}






#planetDetail .btn-close{
    float: right;
    border-radius: 50%;
}
#planetDetail .modal-content{
    background: rgb(63, 63, 63, 0.7);
}
#planetDetail img{
    border-radius: 50%;
}
#planetDetail .col-4 .col-12{
    //background-color: rgb(255, 255, 255, 0.7);
    border-radius: 15px;
    height: 70px;
    text-align: center;
    margin-bottom: 10px;
    color:#555
}